body {
    font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
    font-size: 14px;
    background: url(../images/bg.jpg) 0 0 repeat-x;
}

p {
    line-height: 22px;
}

a {
    color: #4ca5fe;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 46px;
    line-height: 52px;
}

h1 a {
    color: #333;
}

h2 {
    line-height: 16px;
}

h2 a {
    color: #666;
}

h1 a:hover, h2 a:hover {
    color: #4ca5fe;
    text-decoration: none;
}

#container {
    margin: 0 auto;
    width: 960px;
    background-color: #fff;
}

#header {
    padding: 24px 0;
    border-top: 6px solid #4ca5fe;
}

#menu {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

#menu ul li {
    float: left;
    width: 80px;
    border-right: 1px dotted #ccc;
    text-align: center;
    padding: 10px;
}

.submenu {
    position: absolute;
    z-index: 100;
    display: none;
    background-color: #fff;
    padding: 10px;
    margin: 10px 0 0 -11px;
    border: 1px solid #ccc;
}

#menu .submenu li {
    float: none;
    border-right: none;
    border-bottom: 1px dotted #ccc;
    text-align: left;
    width: 60px;
    background-color: #fcfcfc;
}

#footer {
    background-color: #333;
    color: #fff;
}
