body {
    font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
    font-size: 14px;
    background: url(../images/bg.jpg) 0 0 repeat-x;
}

p {
    line-height: 22px;
}

a {
    color: #4ca5fe;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 46px;
    line-height: 52px;
}

h1 a {
    color: #333;
}

h2 {
    line-height: 16px;
}

h2 a {
    color: #666;
}

h1 a:hover, h2 a:hover {
    color: #4ca5fe;
    text-decoration: none;
}

#container {
    margin: 0 auto;
    width: 960px;
    background-color: #fff;
}

#masthead {
    padding: 24px 0;
    border-top: 6px solid #4ca5fe;
}

#masthead h1, #masthead h2 {
    margin: 0 0 0 24px;
}

#search {
    margin: 24px 0 0;
}

#fld-search {
    color: #4ca5fe;
    font-weight: 900;
    border: 1px solid #4ca5fe;
    padding: 6px;
}

#fld-search.inactive {
    color: #ccc;
}

#btn-search {
    background-color: #4ca5fe;
    color: #fff;
    padding: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#menu {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

#menu ul li {
    float: left;
    width: 80px;
    border-right: 1px dotted #ccc;
    text-align: center;
    padding: 10px;
}

.submenu {
    position: absolute;
    z-index: 100;
    display: none;
    background-color: #fff;
    padding: 10px;
    margin: 10px 0 0 -11px;
    border: 1px solid #ccc;
}

#menu .submenu li {
    float: none;
    border-right: none;
    border-bottom: 1px dotted #ccc;
    text-align: left;
    width: 60px;
    background-color: #fcfcfc;
}

#post h2, #post h3, #post p {
    padding: 24px;
}

#post h2 {
    font-family: Georgia, serif;
    font-size: 38px;
    line-height: 46px;
    border-bottom: 1px dotted #4ca5fe;
}

#post h3 {
    font-size: 26px;
    line-height: 32px;
}

.box {
    margin: 24px 0;
    background-color: #ccc;
    padding: 24px;
    border: 1px solid #666;
}

#footer {
    background-color: #333;
    color: #fff;
}
